@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.titled {
  position: relative;
}

.titled-2 {
  position: relative;
}

.titled-1{
  position: relative;
  z-index: 1;
}

.titled-1::before{
  position: absolute;
  z-index: -1;
  top: 0;
  left: -12px;
  content: "";
  width: 110%;
  height: 100%;
  background-color: white;
  transform: rotate(-2deg);
}

.titled::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -12px;
  content: "";
  width: 150%;
  height: 100%;
  background-color: white;
  transform: rotate(2deg);
}

.titled-2::before {
  position: absolute;
  z-index: -1;
  top: 0;
  left: -12px;
  content: "";
  width: 120%;
  height: 100%;
  background-color: #f6d860;
  transform: rotate(-2deg);
  animation-name: titledFill;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

.blob{
  position: relative;
  z-index: 1;
  width: max-content;
}

.blob::before{
  position: absolute;
  z-index: -1;
  top: 8px;
  right: -24px;
  content: "";
  width: 50%;
  height: 100%;
  border-radius: 100% 0%;
  background-color: #f6d860;
  transform: rotate(-2deg);
}

@media screen and (max-width: 356px) {
  .titled-2::before {
    position: absolute;
    z-index: -1;
    top: 0;
    left: -12px;
    content: "";
    width: 80%;
    height: 100%;
    background-color: #f6d860;
    transform: rotate(-2deg);
  }
}

@keyframes titledFill {
  from {width: 0px;}
  to {width: 120%;}
}